id ICON icon.ico
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Alex Kasko"
      VALUE "FileDescription", "Java Launcher Application"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "launcher"
      VALUE "LegalCopyright", "Alex Kasko"
      VALUE "OriginalFilename", "launcher.exe"
      VALUE "ProductName", "Java Launcher"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
